<div class="container">
  <div class="row">
    <div class="card col-12">
      <div class="card-body">
        <uct-chip-list [formControl]="search"></uct-chip-list>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="line-preloader" [class.show]="loading"></div>
  </div>
  <ng-container *ngIf="data && data.length > 0">

    <div class="row album py-5 bg-light">
      <div class="col-md-4" *ngFor="let item of data">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top img-fluid preview-image"
               [src]="item?.url"
               [alt]="item?.title">
          <div class="card-body">
            <p class="card-title">
              {{item?.title}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="totalCount"
          [page]="pagination"
          (pageChange)="setPagination($event)"
          [maxSize]="5"
          [pageSize]="pageSize">
        </ngb-pagination>
      </div>
    </div>
  </ng-container>

  <div class="row" *ngIf="search.value.length === 0">
    <p class="col-12 alert alert-light text-center">
      Input keywords for finding images.
    </p>
  </div>

  <div class="row" *ngIf="data && data.length === 0 && search.value.length > 0">
    <p class="col-12 alert alert-light text-center">
      Sorry, nothing found. Please, try again with some different keyword.
    </p>
  </div>

  <div class="row" *ngIf="hasServerError">
    <p class="col-12 alert alert-danger text-center">
      Sorry, something went wrong on the server. Please try again.
    </p>
  </div>
</div>


